* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    background: #73ad9585;
}
header, main {
    margin: auto;
    min-width: 320px;
    width: 100%;
    max-width: 820px;
}
header {
    padding: 20px;
    border-bottom: 1px solid gray;
}
.mem {
    padding: 10px;
    border-bottom: 1px solid gray;
}
.mem_input{
    display: none;
}
.image_wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.image_wrapper img {
    height: 0;
    transition: height .8s;
}
.mem:hover .image_wrapper  img,
:checked ~ .image_wrapper  img{
    height: 500px;
}
.mem_text {
    display: block;
    width: calc(100% - 30px);
}
.mem_text::after { 
    content: '+';
    font-size: 20px;
    line-height: 10px;
    font-weight: bold;
    display: block;
    position: relative;
    left: 20px;
    float: right;
    transition: .5s;
    transform-origin: 5px 5px;
}
.mem:hover .mem_text::after,
:checked + .mem_text::after { 
    transform: rotate(45deg);
    
}
ul, li {
    list-style: none;
}